.wrapper {
    width: 80%;
    margin: 1.5rem auto;
    padding: 2rem 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    margin-bottom: .8rem;
}

.message-wrapper {
    margin-top: 1.5rem;
    width: 80%;
 }

.form-wrapper {
    width: 80%; 
    margin-top: 1.5rem;
 }

.error {
    margin-top: 1.5rem;
    color: red;
    text-align: center;
}

.seach-wrapper {
    margin-top: 1rem;
}